attrs==17.2.0
boltons==17.1.0
cffi==1.11.2
coverage==4.5.3
face==19.1.2
funcsigs==1.0.2
pluggy==0.6.0
py==1.5.2
pycparser==2.18
PyNaCl==1.2.1
pytest==3.4.0
ruamel.yaml==0.15.51
schema==0.7.0
six==1.11.0
tox==3.0.0
virtualenv==16.0.0
